mixin image(pathAndName)
    img(src=require(`_src/blocks/${pathAndName}.png`) alt=name)

mixin image-common(name)
    img(src=require(`_src/images/${name}.png`) alt=name)

mixin image-jpg(name)
    img(src=require(`./${name}.jpg`) alt=name)

mixin image-common-jpg(name)
    img(src=require(`_src/images/${name}.jpg`) alt=name)

mixin image-svg(pathAndName)
    img(src=require(`_src/blocks/${pathAndName}.svg`) alt=name)
